html { font-size: 62.5%;}
body { line-height: 1.8;letter-spacing: 1px; word-break: break-all;}
button { background-color: transparent;border: 0; cursor: pointer;}
figure { height: 100%;}
img { width: 100%; height: 100%; object-fit: cover; display: block;}
h2{font-size: 1.17em;}
.clear-text {
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
}