/* font */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:600);

body {
  font-family: YakuHanJP, "Noto Sans Japanese", 'Noto Sans JP', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 游ゴシック, YuGothic, メイリオ, Meiryo, Verdana, sans-serif;
  font-display: swap;
  font-feature-settings : "palt";
}

/* Open Sans */
$OPENSANS: YakuHanJP, 'Open Sans', sans-serif;

/* Noto Serif */
$NOTOSERIF: YakuHanMP,'Noto Serif JP', sans-serif;

/* CrimsonText */
$CRIMSONTEXT: YakuHanMP,'Crimson Text', 'Noto Serif JP', serif;

/* font weight */
$FONT_WEIGHT_LARGEBOLD: 700;
$FONT_WEIGHT_BOLD: 600;
$FONT_WEIGHT_REGULAR: 500;
$FONT_WEIGHT_NORMAL: 400;

/* NotoSansJp */
$NOTOSANS_JP_REGULAR: 400;
$NOTOSANS_JP_BOLD: 700;
