/* only */
.pc-only {
  &:not(:root) {
    display: block;
  } 
  &#{&}_inline {
    display: inline-block;
  }
  @include mq-small {
    &:not(:root) {
      display: none;
    }
  }
}

.sp-only {
  &:not(:root) {
    display: none;
  }
  @include mq-small {
    &:not(:root) {
      display: block;
    }
  }
}
/* end */